<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<app-header></app-header>

<div class="tab">
    <button *ngIf="today" (click)="setTab('Today')" class="tablinks active" style="margin-left: 20vw">Today</button>
    <button *ngIf="!today" (click)="setTab('Today')" class="tablinks" style="margin-left: 20vw">Today</button>

    <button *ngIf="overview" (click)="setTab('Overview')" class="tablinks active">Overview</button>
    <button *ngIf="!overview" (click)="setTab('Overview')" class="tablinks">Overview</button>

    <button *ngIf="food" (click)="setTab('Food')" class="tablinks active">Food</button>
    <button *ngIf="!food" (click)="setTab('Food')" class="tablinks">Food</button>

</div>

<!--TODAY TAB-->
<div *ngIf="today"> 
    <div class="todayTab"> 
    <!--WEIGHT CARD-->
    <div class="card">
        <div class="card-header">Today is {{formattedDate}}</div> 
        <div class="card-body">Weight:        
            <input class="weightInput myInput" *ngIf="editWeightText =='Save'||day.WEIGHT==''" [(ngModel)]="day.WEIGHT" type="text">     
            <span *ngIf="editWeightText == 'Edit'"> {{day.WEIGHT}} </span>
         
            <button class="myButton" style="margin-left: 5px" (click)="saveWeight(formattedDate, day)"> {{editWeightText}} </button>
           
            <!--select [(ngModel)]="day.WORKOUT" > 
            <option> Rest</option>
            <option> Push </option>
            <option> Pull </option>
            <option> Legs </option>
            </select-->
      </div>
    </div>
    <!--FOOD CARD-->
    <div class="card" style="margin-top: 25px">
        <div class="card-header"> 
            <select>
                <option>Food</option>
                <option>Workout</option>
            </select>  
        </div>
    <div class="foodCards"> 
        <!--ADD SUBCARD-->
        <div class="card">
            <div class="card-header">
                Add:
                <select [(ngModel)]="addFoodMode">
                    <option disabled> New </option>
                    <option> Existing </option>
                </select>
                Total Calories: {{day.CALORIES_TOTAL}}
            </div>
            <!--ADDING NEW-->
            <div *ngIf="addFoodMode=='New'"class="card-body"> 
                Meal: 
                <select [(ngModel)]="foodObject.MEAL" > 
                <option> Breakfast</option>
                <option> Lunch </option>
                <option> Dinner </option>
                <option> Snacks </option>
                </select>

                Name: <input class="myInput" [(ngModel)]="foodObject.NAME" type="text"> 
                Calories: <input class="myInput" [(ngModel)]="foodObject.CALORIES" type="text"> 
                Protein: <input class="myInput" [(ngModel)]="foodObject.PROTEIN" type="text">
                <button class="myButton" style="margin-left: 10px" (click)="addFood()"> Add </button> 
            </div>
            <!--ADDING EXISTING-->
            <div *ngIf="addFoodMode=='Existing'"class="card-body"> 
                <span *ngIf="addFoodMode=='Existing'">Search Existing <input class="myInput" style="margin-left: 5px; margin-bottom: 10px" [(ngModel)]="filterInput" (input)="foodTable.filterGlobal(filterInput, 'contains')"></span>
                Meal: 
                <select [(ngModel)]="foodObject.MEAL" > 
                <option> Breakfast</option>
                <option> Lunch </option>
                <option> Dinner </option>
                <option> Snacks </option>
                </select>
                <p-table #foodTable [value]="foodTableValues" [globalFilterFields]="['NAME', 'CALORIES', 'PROTEIN']" >
                <ng-template pTemplate="header"> 
                    <th *ngFor="let col of addfoodTableCols | slice:0:4; let i=index"
                    [ngStyle]="{'width': col.width}" [pSortableColumn]="col.searchfield" class="tableHeader"> 
                    {{col.header}}
                    <p-sortIcon [field]="col.searchfield"></p-sortIcon>
                </th>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td *ngFor="let col of addfoodTableCols | slice:0:4; let i = index" [ngStyle]="{'width': '25%'}" class="tableRow"> 
                        <span *ngIf="i!=3">{{rowData[col.field]}}</span>
                        <span *ngIf="i==3"> <input class="tableFilterInput" [(ngModel)]="rowData.WEIGHT"> </span>

                        </td>
                        
                        <td> <button class="myButton" style="margin-left:5px" (click)="addFoodExisting(rowData.NAME, rowData.CALORIES, rowData.PROTEIN, rowData.MEAL, rowData.WEIGHT)">Add</button></td>
                        </tr>
            </ng-template>
                </p-table> 
            </div>
        </div>

        <!--BREAKFAST SUBCARD-->
        <div *ngIf="day.food.BREAKFAST.length!=0" class="card">
            <div class="card-header">Breakfast</div>
            <div class="card-body"> 
            <div *ngFor="let food of BREAKFAST; let i = index"> 
                <span *ngIf="food.EDIT==false"> 
                <span>Name: {{food.NAME}} </span>
                <span class="calorieInput">Calories: {{food.CALORIES}}</span>
                <span class="protienInput"> Protein: {{food.PROTEIN}}</span>
                <button class="buttonInput myButton" (click)="toggleFoodEdit(BREAKFAST, i)"> Edit </button>
                </span>
                <span *ngIf="food.EDIT==true"> 
                <span> Name: <input class="inputTextboxLarge" [(ngModel)]="food.NAME" type="text"></span>
                <span class="calorieInput">Calories: <input class="inputTextboxLarge" [(ngModel)]="food.CALORIES" type="text"></span>
                <span class="protienInput">Protein: <input class="inputTextboxLarge" [(ngModel)]="food.PROTEIN" type="text"></span>
                <button class="buttonInput myButton" (click)="toggleFoodEdit(BREAKFAST, i)"> Save </button>
                </span>
                <hr >
        </div>
        </div>
        </div>
        <!--LUNCH SUBCARD-->
        <div *ngIf="day.food.LUNCH.length!=0" class="card">
            <div class="card-header">Lunch</div>
            <div *ngFor="let food of LUNCH; let i = index"> 
                <div class="card-body"> 
                    <span *ngIf="food.EDIT==false"> 
                        <span>Name: {{food.NAME}} </span>
                        <span class="calorieInput">Calories: {{food.CALORIES}}</span>
                        <span class="protienInput"> Protein: {{food.PROTEIN}}</span>
                        <button class="buttonInput myButton" (click)="toggleFoodEdit(LUNCH, i)"> Edit </button>
                        </span>
                        <span *ngIf="food.EDIT==true"> 
                        <span> Name: <input class="inputTextboxLarge" [(ngModel)]="food.NAME" type="text"></span>
                        <span class="calorieInput">Calories: <input class="inputTextboxLarge" [(ngModel)]="food.CALORIES" type="text"></span>
                        <span class="protienInput">Protein: <input class="inputTextboxLarge" [(ngModel)]="food.PROTEIN" type="text"></span>
                        <button class="buttonInput myButton" (click)="toggleFoodEdit(LUNCH, i)"> Save </button>
                        </span>
                </div>      
        </div>
        </div>

        <!--DINNER SUBCARD-->
        <div *ngIf="day.food.DINNER.length!=0" class="card">
            <div class="card-header">Dinner</div>
            <div *ngFor="let food of DINNER; let i = index"> 
                <div class="card-body"> 
                    <span *ngIf="food.EDIT==false"> 
                        <span>Name: {{food.NAME}} </span>
                        <span class="calorieInput">Calories: {{food.CALORIES}}</span>
                        <span class="protienInput"> Protein: {{food.PROTEIN}}</span>
                        <button class="buttonInput myButton" (click)="toggleFoodEdit(DINNER, i)"> Edit </button>
                        </span>
                        <span *ngIf="food.EDIT==true"> 
                        <span> Name: <input class="inputTextboxLarge" [(ngModel)]="food.NAME" type="text"></span>
                        <span class="calorieInput">Calories: <input class="inputTextboxLarge" [(ngModel)]="food.CALORIES" type="text"></span>
                        <span class="protienInput">Protein: <input class="inputTextboxLarge" [(ngModel)]="food.PROTEIN" type="text"></span>
                        <button class="buttonInput myButton" (click)="toggleFoodEdit(DINNER, i)"> Save </button>
                        </span>
                </div>    
        </div>
        </div>
        <!--SNACK SUBCARD-->
        <div *ngIf="day.food.SNACKS.length!=0" class="card">
            <div class="card-header">Snacks</div>
            <div *ngFor="let food of SNACKS; let i = index"> 
                <div class="card-body"> 
                    <span *ngIf="food.EDIT==false"> 
                        <span>Name: {{food.NAME}} </span>
                        <span class="calorieInput">Calories: {{food.CALORIES}}</span>
                        <span class="protienInput"> Protein: {{food.PROTEIN}}</span>
                        <button class="buttonInput myButton" (click)="toggleFoodEdit(SNACKS, i)"> Edit </button>
                        </span>
                        <span *ngIf="food.EDIT==true"> 
                        <span> Name: <input class="inputTextboxLarge" [(ngModel)]="food.NAME" type="text"></span>
                        <span class="calorieInput">Calories: <input class="inputTextboxLarge" [(ngModel)]="food.CALORIES" type="text"></span>
                        <span class="protienInput">Protein: <input class="inputTextboxLarge" [(ngModel)]="food.PROTEIN" type="text"></span>
                        <button class="buttonInput myButton" (click)="toggleFoodEdit(SNACKS, i)"> Save </button>
                        </span>
                </div>       
        </div>
        </div>
        </div>
    <!--EXERCISE SUBCARD-->
    <!--div class="card">
        <div class="card-header">Exercise</div>
        <div class="card-body">Workout: <input [(ngModel)]="day.WEIGHT" type="text"></div>
        <div class="card-body">Cardio: <input [(ngModel)]="day.WEIGHT" type="text"></div>
        <div class="card-body">Steps: <input [(ngModel)]="day.WEIGHT" type="text"></div>
    </div-->
    </div>
</div>
</div>
<!--OVERVIEW TAB-->
<div *ngIf="overview"> 
    <div class="overviewTab">
    
    <div class="subTab"> 
    <button *ngIf="table" (click)="setSubTab('table')" class="subTablinks active" style="margin-left: 20vw">Table</button>
    <button *ngIf="!table" (click)="setSubTab('table')" class="subTablinks" style="margin-left: 20vw">Table</button>

    <button *ngIf="chart" (click)="setSubTab('chart')" class="subTablinks active">Chart</button>
    <button *ngIf="!chart" (click)="setSubTab('chart')" class="subTablinks">Chart</button>
    </div>

    <div *ngIf="chart" class="chart"> 
    <p-chart type="line" [data]="chartData" [options]="multiAxisOptions" width="500px" height="500px" ></p-chart>
    </div>

    <div *ngIf="table">
    <p-table #dateTable [value]="dateTableValues">
        <ng-template pTemplate="header">
        <tr> 
        <th *ngFor="let col of dateTableCols | slice:0:19; let i=index"
        [ngStyle]="{'width': col.width}" [pSortableColumn]="col.searchfield" class="tableHeader"> 
        {{col.header}}
        <p-sortIcon [field]="col.searchfield"></p-sortIcon>
        </th>
        </tr>
        <tr>
        <th *ngFor="let col of dateTableCols | slice:0:19; let i=index" class="tableHeader">
        <input type="text" [(ngModel)]="col.inputValue"
        (input)="dateTable.filter(col.inputValue, col.searchfield, col.filterMatchMode);" class="tableFilterInput">
        </th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
            <td *ngFor="let col of dateTableCols | slice:0:19; let i = index" [ngStyle]="{'width': col.width}" class="tableRow"> 
           {{rowData[col.field]}}
            </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>


</div>
<div *ngIf="food"> 
    <div class="foodTab"> 

    <div class="subTab"> 
        <button *ngIf="existing" (click)="setSubTab('existing')" class="subTablinks active" style="margin-left: 20vw">Existing</button>
        <button *ngIf="!existing" (click)="setSubTab('existing')" class="subTablinks" style="margin-left: 20vw">Existing</button>

        <button *ngIf="new" (click)="setSubTab('new')" class="subTablinks active"> Add New</button>
        <button *ngIf="!new" (click)="setSubTab('new')" class="subTablinks"> Add New</button>
    </div>
    <div *ngIf="existing"> 
    <p-table #foodTable [value]="foodTableValues">
        <ng-template pTemplate="header">
        <tr> 
        <th *ngFor="let col of foodTableCols | slice:0:6; let i=index"
        [ngStyle]="{'width': col.width}" [pSortableColumn]="col.searchfield" class="tableHeader"> 
        {{col.header}}
        <p-sortIcon [field]="col.searchfield"></p-sortIcon>
    </th>
    </tr>
    <tr>
    <th *ngFor="let col of foodTableCols | slice:0:6; let i=index" class="tableHeader">
        <input type="text" [(ngModel)]="col.inputValue" (input)="foodTable.filter(col.inputValue, col.searchfield, col.filterMatchMode);" class="tableFilterInput">
    </th>
</tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td *ngFor="let col of foodTableCols | slice:0:6; let i = index" [ngStyle]="{'width': col.width}" class="tableRow"> 
           {{rowData[col.field]}}
            </td>
            </tr>
</ng-template>
    </p-table>
    </div>
    <div *ngIf="new">
        <div class="container">
            <div style="text-align: center; margin-top: 20px;">Name: <input class="myInput" [(ngModel)]="foodObject.NAME" type="text"> </div>
            <hr style="width: 50vw">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4">
                <div class="foodRow">  Calories <input class="myRowInput" style="position: absolute; left: 35%; top: 15%" [(ngModel)]="foodObject.CALORIES" type="text"> </div>
                <div class="foodRow">  Fat <input class="myRowInput" style="position: absolute; left: 35%; top: 45%" [(ngModel)]="foodObject.FAT" type="text"> </div>
                <div class="foodRow">  Protein <input class="myRowInput" style="position: absolute; left: 35%; top: 75%" [(ngModel)]="foodObject.PROTEIN" type="text"> </div>
              </div>
              <div class="col-4">
                <div class="foodRow"> Sodium <input class="myRowInput" style="position: absolute; left: 35%; top: 15%" [(ngModel)]="foodObject.SODIUM" type="text">  </div>
                <div class="foodRow"> Potassium <input class="myRowInput" style="position: absolute; left: 35%; top: 45%" [(ngModel)]="foodObject.POTASSIUM" type="text"> </div>
                <div class="foodRow"> Carbs <input class="myRowInput" style="position: absolute; left: 35%; top: 75%" [(ngModel)]="foodObject.CARBS" type="text"> </div>              
            </div>
              <div class="col-2"></div>
            </div>
          </div>
          <div style="text-align: center"><button class="myButton myButton-purple" (click)="insertOne(this.foodObject.NAME,this.foodObject)">Add</button></div>
    </div>
</div>
</div>


